<GameInfo>
	<ConfigurationUpdates>
<!--  Vote Draft Can Only Be Random -->
		<!-- CPL FFA -->
		<Row SourceGroup="Game" SourceId="MPH_PRESET" SourceValue="10" TargetGroup="Game" TargetId="MPH_OFFICIAL_GAME" TargetValue="0" />
		<Row SourceGroup="Game" SourceId="MPH_PRESET" SourceValue="10" TargetGroup="Game" TargetId="NO_DUPLICATE_LEADERS" TargetValue="0" Hash="0" />
		<Row SourceGroup="Game" SourceId="MPH_PRESET" SourceValue="10" TargetGroup="Game" TargetId="NO_DUPLICATE_CIVILIZATIONS" TargetValue="0" Hash="0" />
		<Row SourceGroup="Game" SourceId="MPH_PRESET" SourceValue="10" TargetGroup="Game" TargetId="GAME_START_ERA" TargetValue="ERA_ANCIENT" Hash="1"/>
		<Row SourceGroup="Game" SourceId="MPH_PRESET" SourceValue="10" TargetGroup="Game" TargetId="CPL_SMARTTIMER" TargetValue="2"/>
		<Row SourceGroup="Game" SourceId="MPH_PRESET" SourceValue="10" TargetGroup="Game" TargetId="CPL_BAN_FORMAT" TargetValue="0"/>
		<Row SourceGroup="Game" SourceId="MPH_PRESET" SourceValue="10" TargetGroup="Map" TargetId="world_age" TargetValue="1"/>
		<Row SourceGroup="Game" SourceId="MPH_PRESET" SourceValue="10" TargetGroup="Map" TargetId="resources" TargetValue="3"/>
		<Row SourceGroup="Game" SourceId="MPH_PRESET" SourceValue="10" TargetGroup="Map" TargetId="BBSStratRes" TargetValue="1"/>
		<Row SourceGroup="Game" SourceId="MPH_PRESET" SourceValue="10" TargetGroup="Game" TargetId="NO_TRADING_GOLD" TargetValue="1"/>
		<Row SourceGroup="Game" SourceId="MPH_PRESET" SourceValue="10" TargetGroup="Game" TargetId="NO_TRADING_STRATEGICS" TargetValue="1"/>
		<Row SourceGroup="Game" SourceId="MPH_PRESET" SourceValue="10" TargetGroup="Game" TargetId="NO_TRADING_CITIES" TargetValue="1" />
		<Row SourceGroup="Game" SourceId="MPH_PRESET" SourceValue="10" TargetGroup="Game" TargetId="ALLIANCE_MILITARY" TargetValue="0"/>
	</ConfigurationUpdates>

<DomainValues>
    <Row Domain="MphPreset" Value="10" Name="MPH_PRESET_MODLOADER" Description="modloadertest123154456" SortIndex="6"/>
</DomainValues>
</GameInfo>